.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }

.custom-arrow.custom-arrow-left {
    left: 1%;
}

.custom-arrow.custom-arrow-right {
    right: 1%;
}



.netflix-card-container{
    text-align: center;
    width: 100%;
}
.netflix-card-button{
   border-style: none;
   background: none;
   width: 80%;
}

.netflix-card-button>img{
    width: 100%;
}