@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body{
    background-color:#2b2f35 !important;
}

.login-container{
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    background-color:#2b2f35 !important;
    height: 100vh;
}

.field-container{
    position: relative;
}

.logo {
    width: 40%;
    min-width: 350px;
}
div {
    display: inline-block;
    width: fit-content;
}
.form-control-sm{
   width: 20%;
   border: none !important;
   border-radius: 0px !important; 
   margin: 0.5em !important;
   padding: 0.5em !important;
   height: 3em !important;
   min-width: 180px;
   height: 48px !important;
}


#login-btn, #register-btn{
    border-radius: 0%;
    height: 48px;
    width: fit-content;
    color: black;
    background-color: orange;
}