@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
.media-series-container{
    color:white;
    font-family: 'Rajdhani', sans-serif;
}

.series-element-container{
    max-width: 90% !important;
}


.series-row1{
    margin-top: 0px !important;
    padding-top: 4% !important;
}

.series-image-container{
    text-align: center;
}

.series-image{
    width: 55%;
    height: auto;
    border: 2px solid #8b552c;
    border-radius: 9px;
}

#series-title{
    font-weight: bolder;
    font-size: 4em;

    background: -webkit-linear-gradient(#ffb780, #8b552c);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#series-macro-plot{
    margin-top: 22px;
    font-style: italic;
    font-size: 1.3em;
}

.series-generality{
    margin-top: 50px;
}

.series-generality>h6{
    font-weight: 600;
}

.series-generality>p{
    font-weight: 600;
    font-size: 2em;
    width: 70px;
    text-align: center;
    border: 1px solid white;
}


.video-player-container{
    text-align: center;
}

.episode-generality>p{
    font-style: italic;
    font-size: 0.7em;
    font-weight: 600;
}

.player-btn {
    color: white;
    text-align: center;
    background: none;
    border: 1px solid #8b552c;
    width:50% ;
    margin-top: 25%;
    font-size: 1.3em;
}

.player-btn:hover{
    background-color: #8b552c;
    font-weight: bolder;
}