@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

#account-container{
    color:whitesmoke !important; 
    font-family: 'Rajdhani', sans-serif;
    max-width: 90%;
    margin-top: 3%;
}

#account-container h1{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
}

.card-container{
    width: 49%;
    height: auto;
}

.card-container img{
    max-width: fit-content;
    min-width: 400px;
    width: 400px;
    height: 210px;
}

.row{
    margin-top: 15px !important;
}

.row>*{
    padding-left: 22px !important;
}

.row h3{
    font-weight: 900;
}


.change-field-container>button{
    margin-left: 20px;
    color: black;
    border: none !important;;
    margin: 0.5em !important;
    background-color: darkorange;
}


.accordion{
    --bs-accordion-bg:none !important;
    --bs-accordion-border-color: none !important;
    --bs-accordion-border-width: none !important;
    --bs-accordion-border-radius: none !important;
    --bs-accordion-inner-border-radius: none !important;
    --bs-accordion-btn-focus-border-color:none !important;
    --bs-accordion-active-color:#8d552d !important;
    --bs-accordion-active-bg:none !important;
}

.accordion-button{
    z-index: none !important;
    border-color: none !important; 
    outline: none !important; 
    box-shadow: none !important;; 
}

.accordion-item{
    color: white !important;
    font-size:1.5em;
}

.accordion-header>button {
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
}

.btn-outline-secondary {
    margin-left: 22%;
}

@media  screen and (max-width: 674px){
    .card-container img{
        margin-top: 20px;
        max-width: fit-content;
        min-width: 300px;
        width: 300px;
        height: 160px;
    }

    #prime-sub-btn{
        margin-left: 0px !important;
    }
    

}

#prime-sub-btn{
    margin-left: 22px;
    background: none;
    border-style: none;
}


#netflix-sub-btn{
    background: none;
    border-style: none;
}


/* .modal{
    --bs-modal-header-border-color: #8d552de0 !important;
    --bs-modal-footer-border-color: #8d552de0 !important;
}

.modal-content{
    border-radius: 0px !important;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    background-color:#2b2f3577 !important;
    border:1px solid #8d552de0 !important;
}

.btn-close{
    background: transparent url('./images/x.png') center/1em auto no-repeat !important;
}

.modal-header{
    color:white;
  
}

.modal-title h4{
    font-weight: 900;
} */